USE_AWS=false
AWS_REGION=ap-south-1
BEDROCK_MODEL_ID=
DYNAMO_USERS_TABLE=KhetLoopUsers
DYNAMO_LISTINGS_TABLE=KhetLoopListings
DYNAMO_DEMANDS_TABLE=KhetLoopDemands
DYNAMO_MATCHES_TABLE=KhetLoopMatches
ADMIN_RECOVERY_KEY=generate-a-private-random-secret
